//publicÏùò scss
.h-100vh{
    height: 100vh;
}
ul, h1, h2, h3, p{
    margin: 0;
    padding: 0;
}

#hd{
    h1{
        a{
            display: block;
            width:56px;
            height:56px;
            background-image: url(../srcimg/sp_common.png);
            background-position: -362px -268px;          
            font-size: 0; 
            transform: scale(0.85);           
        }
    }
    .sns{
        li{
            a{
                display: block;
                width:44px; 
                height:48px;
                background-image: url(../srcimg/sp_common.png);
                background-position: -369px  -139px;
                transform: scale(0.85);   
            }
        }
    }
}